.elementor-262 .elementor-element.elementor-element-24bd0b1a {
    text-align: center;
}

.elementor-262 .elementor-element.elementor-element-24bd0b1a .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 2.2em;
    font-weight: 800;
}

.elementor-262 .elementor-element.elementor-element-24bd0b1a>.elementor-widget-container {
    margin: 10px 10px 10px 10px;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-field-group {
    padding-right: calc( 10px/2);
    padding-left: calc( 10px/2);
    margin-bottom: 10px;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2);
    margin-right: calc( -10px/2);
    margin-bottom: -10px;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-262 .elementor-element.elementor-element-4827d787 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 6px;
}

body:not(.rtl) .elementor-262 .elementor-element.elementor-element-4827d787 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 6px;
}

body .elementor-262 .elementor-element.elementor-element-4827d787 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 6px;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-field-group>label,
.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-field-subgroup label {
    color: #FFFFFF;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-field-group>label {
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-field-type-html {
    padding-bottom: 0px;
    font-family: "Montserrat", Sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-field-group .elementor-field,
.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-field-subgroup label {
    font-family: "Montserrat", Sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
    border-width: 1px 1px 1px 1px;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
    border-width: 1px 1px 1px 1px;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-button {
    font-family: "Montserrat", Sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 100px 100px 100px 100px;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .e-form__buttons__wrapper__button-next {
    background-color: var( --e-global-color-secondary);
    color: var( --e-global-color-7eb8579);
}

.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-button[type="submit"] {
    background-color: var( --e-global-color-secondary);
    color: var( --e-global-color-7eb8579);
}

.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-button[type="submit"] svg * {
    fill: var( --e-global-color-7eb8579);
}

.elementor-262 .elementor-element.elementor-element-4827d787 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-262 .elementor-element.elementor-element-4827d787 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-262 .elementor-element.elementor-element-4827d787 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

#elementor-popup-modal-262 .dialog-message {
    height: auto;
    padding: 15px 15px 15px 15px;
}

#elementor-popup-modal-262 {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0, 0, 0, .8);
}

#elementor-popup-modal-262 .dialog-close-button {
    display: block;
    font-size: 20px;
}

#elementor-popup-modal-262 .dialog-widget-content {
    animation-duration: 1.2s;
    background-color: var( --e-global-color-primary);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

#elementor-popup-modal-262 .dialog-close-button i {
    color: #FFFFFF;
}